body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E5EFDF;
}

header {
    background-color: #91602a;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-bottom: 10px solid #91602a;
}

h1 {
    font-size: 36px;
    margin: 0;
}

.navbar{
    background-color: #4f2f26;
    padding: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 45px;
}

li{
    float: left;
    display: block;
    padding: 20px 20px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.post {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.post-header {
    margin-bottom: 20px;
}

.post-header h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#post-dos table img {
    width: 700px;
    height: 450px;
}

.subtitulo {
    font-size: 14px;
    color: #666;
}

.post-body p {
    line-height: 1.6;
    text-align: justify;
}

table, th, td {
    table-layout: fixed; 
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: #82ac9d;
}